/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #f55e45;
$theme-color2: #664871;
$theme-color3: #31ceef;
$theme-color4: #3e5d76;

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
:root{
	--theme-color1: #{$theme-color1};
	--theme-color1-rgb: #{hexToRGB($theme-color1)};
	--theme-color2: #{$theme-color2};
	--theme-color2-rgb: #{hexToRGB($theme-color2)};
	--theme-color3: #{$theme-color3};
	--theme-color3-rgb: #{hexToRGB($theme-color3)};
	--theme-color4: #{$theme-color4};
	--theme-color4-rgb: #{hexToRGB($theme-color4)};
}
@import "parts/loader";